.folder {
  width: 650px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  position: absolute;
  background-color: #708090;
  border-radius: 0 6px 6px 6px;
}

.folder::before {
  content: '';
  width: 33%;
  height: 23px;
  background-color: #708090;
  position: absolute;
  top: -23px;
}

.folderLeft::before {
  border-radius: 0 10px 0 0;
  left: 0;
}

.folderMiddle {
  border-radius: 6px;
}

.folderMiddle::before {
  border-radius: 10px 10px 0 0;
  left: calc(100% - 66% - 3px);
}

.folderRight {
  border-radius: 6px 0 6px 6px;
}

.folderRight::before {
  border-radius: 10px 0 0 0;
  left: calc(100% - 33%);
}
